<div style="background-color:#f6f6f6;font-family:Arial;font-size:14px;line-height:1.4;margin:0;padding:0">
    <table role="presentation"
           style="border-collapse:separate;width:100%">
        <tbody>
        <tr>
            <td style="font-family:Arial;font-size:14px;vertical-align:top">&nbsp;</td>
            <td style="font-family:Arial;font-size:14px;vertical-align:top;display:block;max-width:580px;padding:10px;width:580px;margin:0 auto">
                <div style="box-sizing:border-box;display:block;margin:0 auto;max-width:580px;padding:10px">
                    <table role="presentation" class="m_-8884509432383943882main" style="border-collapse:separate;width:100%;border-spacing:inherit">
                        <tbody>
                        <tr>
                            <td style="font-family:Arial;font-size:14px;vertical-align:top;box-sizing:border-box;background-color: #2ca5f9;padding-top: 20px;">
                                <a href="https://www.citigo.com.vn/"
                                   target="_blank"
                                   data-saferedirecturl="https://www.citigo.com.vn/">
                                    <img src="https://www.citigo.com.vn/wp-content/themes/citigo/images/logo.png"
                                         alt="Logo" width="150"
                                         style="border:0;outline:none;text-decoration:none;display:block;margin:0 auto 15px"
                                         class="CToWUd" data-bit="iit">
                                </a>
                                <table role="presentation" style="border-collapse:separate;width:100%;background:#ffffff">
                                    <tbody>
                                    <tr>
                                        <td style="font-family:Arial;font-size:14px;vertical-align:top;padding:24px 32px">
                                            <p style="font-family:Arial;color:#757575;text-align:center;font-size:12px;font-weight:normal;margin:0;margin-bottom:15px">
                                                Đây là email tự động, vui lòng không phản hồi</p>
                                            <h1 style="font-weight:900;font-family:Verdana,Helvetica,Arial,sans-serif;font-size:24px;color:#222222;text-align:center">
                                                Thiết lập lại mật khẩu<br>
                                                tài khoản E-Portal Citigo</h1>
                                            <span style="display:block;width:320px;height:1px;margin:24px auto;background:#757575"></span>
                                            <p style="font-family:Arial;font-size:16px;font-weight:normal;margin:0;margin-bottom:15px">
                                                Xin chào <strong> {{ name }}</strong>,<br><br>

                                                Để đặt lại mật khẩu cho tài khoản E-Portal Citigo, bạn vui lòng bấm vào nút
                                                “Đặt mật khẩu mới” bên
                                                dưới.</p>
                                            <table role="presentation"
                                                   class="m_-8884509432383943882btn m_-8884509432383943882btn-primary"
                                                   style="border-collapse:separate;box-sizing:border-box;width:100%;margin:24px 0">
                                                <tbody>
                                                <tr>
                                                    <td style="font-family:Arial;font-size:16px;vertical-align:top">
                                                        <table role="presentation" style="border-collapse:separate;width:auto;margin:auto">
                                                            <tbody>
                                                            <tr>
                                                                <td style="font-family:Arial;font-size:14px;vertical-align:top;border-radius:8px;text-align:center;background-color:#c92a57">
                                                                    <a
                                                                        href="{{ urlReset }}"
                                                                            style="font-family:Verdana,Helvetica,Arial,sans-serif;border:solid 1px #c92a57;border-radius:8px;box-sizing:border-box;display:inline-block;font-size:16px;font-weight:bold;margin:0;padding:12px 50px;text-decoration:none;background-color:#c92a57;border-color:#c92a57;color:#ffffff"
                                                                            target="_blank"
                                                                            data-saferedirecturl="{{ urlReset }}">Đặt
                                                                        mật khẩu mới</a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <p style="font-family:Arial;font-size:16px;font-weight:normal;margin:0;margin-bottom:24px">
                                                Nếu nút bấm không hoạt động, bạn có thể sao chép và dán <span
                                                        style="color:#757575">(copy &amp;
                          paste)</span> liên kết bên dưới vào
                                                trình duyệt để xác thực.
                                                <br><br>
                                                <a href="{{ urlReset }}"
                                                   style="color:#087cce;text-decoration:underline;word-break:break-word"
                                                   target="_blank" data-saferedirecturl="s">{{ urlReset }}</a>
                                            </p>
                                            <p style="color:#757575;font-size:12px;margin:0">Nếu bạn không thực hiện yêu
                                                cầu, vui lòng bỏ qua email này. <br><br>

                                                Liên kết chỉ có hiệu lực trong 48h, nếu quá thời gian trên, bạn vui lòng
                                                truy cập <a
                                                        href="https://eportal.kvpos.com"
                                                        style="color:#087cce;text-decoration:underline;word-break:break-word"
                                                        target="_blank">https://eportal.kvpos.com</a>
                                                và thực hiện Lấy lại mật khẩu trong phần Đăng nhập
                                            </p>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="clear:both;margin-top:15px;margin-bottom:15px;width:100%">
                        <table role="presentation"
                               style="border-collapse:separate;width:100%">
                            <tbody>
                            <tr>
                                <td style="font-family:Arial;vertical-align:top;color:#757575;font-size:12px;padding:0 32px;text-align:left;margin:0">
                                  <span style="display:block;color:#757575;font-size:12px;border-bottom:1px solid #757575;padding-bottom:16px;margin-bottom:16px">
                                   </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:Arial;vertical-align:top;color:#757575;font-size:12px;padding:0 32px;text-align:left">
                                © 2022. Toàn bộ bản quyền thuộc Internal.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </td>
            <td style="font-family:Arial;font-size:14px;vertical-align:top" valign="top">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
</div>