<div style="font-family:Arial;font-size:14px;line-height:1.4;margin:0;padding:0;border: 1px solid gray;">
    <table role="presentation"
            style="border-collapse:separate;width:100%">
        <tbody>
        <tr>
            <td style="font-family:Arial;font-size:14px;vertical-align:top;padding:24px 32px">
                <p>Dear Anh/Chị, </p>
                <p>Anh/Chị có một yêu cầu xin nghỉ phép cần phê duyệt trên hệ thống E-portal. Xem chi tiết <a
                        href="{{ urlReset }}" target="_blank">tại đây!</a></p>
                <p>Nội dung xin nghỉ phép của nhân viên:</p>
                <ul>
                    <li>Thời gian:{{ time }}</li>
                    <li>Lý do: {{ reason }}</li>
                </ul>
                <form method="GET" action="{{ url }}" target="_blank">
                    <input type="hidden" name="id" value="{{ id }}">
                    <input type="hidden" name="token" value="{{ token }}">
                    <input type="hidden" name="api" value="{{ urlApi }}">
                    <ul>
                        <input type="radio" id="accept" name="status" value="2">
                        <label for="accept">Phê duyệt</label><br>
                        <input type="radio" id="reject" name="status" value="3">
                        <label for="reject">Từ chối</label><br>
                        <div style="padding-left: 25px;">
                            <textarea maxlength="200" name="reason_approve" style="border-radius: 6px;border: 1px solid #D9D9D9;padding: 6px;" cols="60" rows="3" placeholder="Vui lòng nhập lý do từ chối"></textarea>
                        </div>
                    </ul>
                    <button style="cursor: pointer; color:white; margin-left: 50px; border-radius: 6px; height: 40px; padding: 0px 15px; background-color: #1890FF; border-color: #1890FF; border: 1px solid transparent;" type="submit">Submit</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>