<div style="background-color:#f6f6f6;font-family:Arial;font-size:14px;line-height:1.4;margin:0;padding:0">
    <table role="presentation"
           style="border-collapse:separate;width:100%">
        <tbody>
        <tr>
            <td style="font-family:Arial;font-size:14px;vertical-align:top">&nbsp;</td>
            <td style="font-family:Arial;font-size:14px;vertical-align:top;display:block;max-width:580px;padding:10px;width:580px;margin:0 auto">
                <div style="box-sizing:border-box;display:block;margin:0 auto;max-width:580px;padding:10px">
                    <table role="presentation" class="m_-8884509432383943882main" style="border-collapse:separate;width:100%;border-spacing:inherit">
                        <tbody>
                        <tr>
                            <td style="font-family:Arial;font-size:14px;vertical-align:top;box-sizing:border-box;background-color: #2ca5f9;padding-top: 20px;">
                                <a href="https://www.citigo.com.vn/"
                                   target="_blank"
                                   data-saferedirecturl="https://www.citigo.com.vn/">
                                    <img src="https://www.citigo.com.vn/wp-content/themes/citigo/images/logo.png"
                                         alt="Logo" width="150"
                                         style="border:0;outline:none;text-decoration:none;display:block;margin:0 auto 15px"
                                         class="CToWUd" data-bit="iit">
                                </a>
                                <table role="presentation" style="border-collapse:separate;width:100%;background:#ffffff">
                                    <tbody>
                                    <tr>
                                        <td style="font-family:Arial;font-size:14px;vertical-align:top;padding:24px 32px">
                                            <p style="font-family:Arial;color:#757575;text-align:center;font-size:12px;font-weight:normal;margin:0;margin-bottom:15px">
                                                Đây là email tự động, vui lòng không phản hồi</p>
                                            <h1 style="font-weight:900;font-family:Verdana,Helvetica,Arial,sans-serif;font-size:24px;color:#222222;text-align:center">
                                                Thông báo tài khoản<br>
                                                truy cập hệ thống E-Portal</h1>
                                            <span style="display:block;width:320px;height:1px;margin:24px auto;background:#757575"></span>
                                            <p style="font-family:Arial;font-size:16px;font-weight:normal;margin:0;margin-bottom:15px">
                                                Thông báo cho tất cả nhân viên,<br><br></p>
                                            <p>Hệ thống Employee Portal viết tắt (E-Portal) là hệ thống quản lý cho phép tất cả các nhân viên của Công Ty Cổ Phần Phần Mềm Citigo được phép truy cập và sử dụng.</p>
                                            <p>Nhằm mục đích kiểm tra, cập nhật các thông tin cá nhân và đăng ký, phê duyệt các đơn từ xin nghỉ phép.</p>
                                            <p>Mọi nhân viên có thể đăng nhập vào hệ thống bằng cách sử dụng tài khoản đã được cấp ở dưới hoặc đăng nhập trực tiếp bằng google có tài khoản email của công ty. Trong quá trình sử dụng, nếu gặp vấn đề về sự cố khi dùng hệ thống. Mọi thắc mắc xin liên hệ đến phòng ban Internal để được hỗ trợ và xử lý.</p>
                                            <p>Để thuận tiện cho việc bảo mật tài khoản cho mỗi cá nhân, các bạn vui lòng truy cập theo đường link và đăng nhập theo tài khoản được cấp vào hệ thống và thay đổi mật khẩu.</p>
                                            <hr>
                                            <p>Link truy cập: <strong><a target="_blank" href="{{ url }}">{{ url }}</a></strong></p>
                                            <p>Email: <strong>{{ email }}</strong></p>
                                            <p>Mật khẩu: <strong>{{ password }}</strong></p>
                                            <table role="presentation"
                                                   class="m_-8884509432383943882btn m_-8884509432383943882btn-primary"
                                                   style="border-collapse:separate;box-sizing:border-box;width:100%;margin:24px 0">
                                                <tbody>
                                                <tr>
                                                    <td style="font-family:Arial;font-size:16px;vertical-align:top">
                                                        <table role="presentation" style="border-collapse:separate;width:auto;margin:auto">
                                                            <tbody>
                                                            <tr>
                                                                <td style="font-family:Arial;font-size:14px;vertical-align:top;border-radius:8px;text-align:center;background-color:#c92a57">
                                                                    <a
                                                                        href="{{ url }}"
                                                                            style="font-family:Verdana,Helvetica,Arial,sans-serif;border:solid 1px #c92a57;border-radius:8px;box-sizing:border-box;display:inline-block;font-size:16px;font-weight:bold;margin:0;padding:12px 50px;text-decoration:none;background-color:#c92a57;border-color:#c92a57;color:#ffffff"
                                                                            target="_blank"
                                                                            data-saferedirecturl="{{ url }}">Truy cập ngay</a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            <p>Link Hướng Dẫn Sử Dụng: <a target="_blank" href="{{ url_guide }}">Tại đây</a></p>
                                            <hr>
                                            <p style="text-align: center;">Chào mừng bạn đến với hệ thống E-Portal!</p>

                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div style="clear:both;margin-top:15px;margin-bottom:15px;width:100%">
                        <table role="presentation"
                               style="border-collapse:separate;width:100%">
                            <tbody>
                            <tr>
                                <td style="font-family:Arial;vertical-align:top;color:#757575;font-size:12px;padding:0 32px;text-align:left;margin:0">
                                  <span style="display:block;color:#757575;font-size:12px;border-bottom:1px solid #757575;padding-bottom:16px;margin-bottom:16px">
                                   </span>
                                </td>
                            </tr>
                            <tr>
                                <td style="font-family:Arial;vertical-align:top;color:#757575;font-size:12px;padding:0 32px;text-align:left">
                                © 2023. made with <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path style="fill:red;" fill-rule="evenodd" clip-rule="evenodd" d="M3.17157 5.17157C4.73367 3.60948 7.26633 3.60948 8.82843 5.17157L10 6.34315L11.1716 5.17157C12.7337 3.60948 15.2663 3.60948 16.8284 5.17157C18.3905 6.73367 18.3905 9.26633 16.8284 10.8284L10 17.6569L3.17157 10.8284C1.60948 9.26633 1.60948 6.73367 3.17157 5.17157Z" fill="#111827"></path></svg>
                                 by Internal.
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                </div>
            </td>
            <td style="font-family:Arial;font-size:14px;vertical-align:top" valign="top">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    <div class="yj6qo"></div>
    <div class="adL">
    </div>
</div>
